.vs/
log/
obj/
_site/
.optemp/
_themes*/

.openpublishing.buildcore.ps1
*.bmp
/scract_redirect.json
/scract_redirect.json
/docs/navigation/_img/vertical-app-navigation.mgf
*.mgf
/docs/navigation/_img/vertical-app-715-navigation.mgf
/docs/pipelines/actions/_img/azure-devops-project-github/vstsazureinfo.png~HEAD
/docs/pipelines/actions/_img/azure-devops-project-github/vstsazureinfo.png~master
/docs/pipelines/actions/_img/azure-devops-project-servicefabric/fullbrowser.png~HEAD
/docs/pipelines/actions/_img/azure-devops-project-servicefabric/fullbrowser.png~master
/docs/pipelines/apps/_shared/_img/import-repository-menu-item.png~HEAD
/docs/pipelines/apps/_shared/_img/import-repository-menu-item.png~HEAD_0
/docs/pipelines/apps/_shared/_img/import-repository-menu-item.png~master
/docs/pipelines/apps/_shared/_img/import-repository-menu-item.png~master_0
/docs/pipelines/apps/cd/azure/_img/azure-devops-project-nodejs/dashboardnopreview.png~HEAD
/docs/pipelines/apps/cd/azure/_img/azure-devops-project-nodejs/dashboardnopreview.png~master
/docs/pipelines/apps/cd/azure/_img/azure-devops-project-nodejs/fullbrowser.png~HEAD
/docs/pipelines/apps/cd/azure/_img/azure-devops-project-nodejs/fullbrowser.png~master
/docs/pipelines/apps/cd/azure/_img/azure-devops-project-nodejs/vstsazureinfo.png~HEAD
/docs/pipelines/apps/cd/azure/_img/azure-devops-project-nodejs/vstsazureinfo.png~master
release-notes/2020/.DS_Store
release-notes/2020/media/.DS_Store