The first step is verification of your publisher. Only **verified** publishers can have public items on the Marketplace.

> **Developing for Visual Studio Code?** If so, you do not need to request verification. Verification is only required for VSTS integrations or extensions.

Once you are ready to publish a public VSTS listing to the Marketplace, follow these steps:

1. Send an email to [vsmarketplace@microsoft.com](http://aka.ms/vsmarketplace-contact).
   * Use the subject `Publisher verification request`.
   * Include your publisher ID in the e-mail.
   * Send from your organization/company e-mail address.   
   * Share details of your association with a business/company and other information such as:
        * Link to your site 
        * Link to your LinkedIn account 
        * Link to your GitHub account 
        * Link to your blog 
   * Share details about your extension/integration.
2. Microsoft will respond within 2 business days.

You might be asked to provide more details about yourself or your organization/company. You might also be asked to share your extension with Microsoft.

> **Important**: Once your publisher is verified, you will not be able to change its display name without contacting Microsoft.

> Please make sure that the publisher ID has no reference to Microsoft or any of its products. Create a publisher ID that is representative of you and/or your company. For instance, if your company name is Fabrikam Fiber, a good publisher name is "fabrikam-fiber". Microsoft reserves the rights to reject publisher IDs that do not meet its review criteria.