---
title: TFS/Build/Contracts ValidationResult API | Extensions for Azure DevOps Services
ms.assetid: 94d451f9-47d8-37b3-d3db-12824c543cfd
ms.prod: devops
ms.technology: devops-ecosystem
generated: true
ms.manager: jillfra
author: elbatk
ms.topic: article
ms.author: elbatk
ms.date: 08/04/2016
---

# ValidationResult

Module path: `TFS/Build/Contracts`

### Values

* `OK` 
* `Warning` 
* `Error` 
