---
title: TFS/build-release/Contracts ValidationResult API | Extensions for Visual Studio Team Services
ms.assetid: 94d451f9-47d8-37b3-d3db-12824c543cfd
ms.prod: vs-devops-alm
ms.technology: vs-devops-extensions-api
generated: true
ms.manager: douge
ms.author: elbatk
ms.date: 08/04/2016
---

# ValidationResult

Module path: `TFS/build-release/Contracts`

### Values

* `OK` 
* `Warning` 
* `Error` 
