---
redirect_url: /docs/test/manual-exploratory-testing/getting-started/how-long-to-keep-test-results
---