---
redirect_url: /vsts/test/how-long-to-keep-test-results
---

