{
    "master": {
        "status": "live",
        "owners": [
            "wismythe@microsoft.com",
            "allclark@microsoft.com"
        ],
        "description": "This branch contains public APIs. Visit the <a href='http://www.visualstudio.com/integrate/reference/reference-vso-overview-vsi' target='_blank'>public reference</a> at integrate.visualstudio.com."
    }
}