---
redirect_url: /vsts/manual-test/getting-started/how-long-to-keep-test-results
---
