---
title: TFS/TestManagement/Contracts TestReport API | Extensions for Azure DevOps Services
ms.assetid: 42c3a548-aae5-71da-c940-20fe2a5b52ae
ms.prod: devops
ms.technology: devops-ecosystem
generated: true
ms.manager: jillfra
author: elbatk
ms.topic: article
ms.author: elbatk
ms.date: 08/04/2016
---

# TestReport

Module path: `TFS/TestManagement/Contracts`


### Members

* `aggregatedResultsAnalysis`: [AggregatedResultsAnalysis](../../../TFS/TestManagement/Contracts/AggregatedResultsAnalysis.md). 

* `build`: [BuildReference](../../../TFS/TestManagement/Contracts/BuildReference.md). 

* `teamProject`: [TFS_Core_Contracts.TeamProjectReference](../../../TFS/Core/Contracts/TeamProjectReference.md). 

* `testFailures`: [TestFailuresAnalysis](../../../TFS/TestManagement/Contracts/TestFailuresAnalysis.md). 

