---
title: Advanced Test Case result history
author: gloridelmorales
ms.author: glmorale
ms.date: 01/20/2025
ms.topic: article
ms.service: azure-devops
ms.subservice: azure-devops-release-notes
description: Advanced Test Case result history
hide_comments: true
---

# Advanced Test Case result history

Easily track key test run details with new enhancements to the test case result page. You’ll see critical information like Run ID, Pipeline ID, Owner, Iteration Path, and Area Path displayed right on the page, providing a complete view of each test run at a glance. We are adding horizontal scrolling for longer values and customizable columns, allowing you to personalize your layout and keep your preferences saved at the user level. To help you move faster, Run IDs and rows are clickable, giving you quick access to the Test Run view for deeper insights. These updates aim to improve visibility, save time, and streamline your workflow, making it easier to track and manage your test runs efficiently.