---
title: Quick access to Test Results in Test Case
author: gloridelmorales
ms.author: glmorale
ms.date: 01/20/2025
ms.topic: article
ms.service: azure-devops
ms.subservice: azure-devops-release-notes
description: Quick access to Test Results in Test Case
hide_comments: true
---

# Quick access to Test Results in Test Case

Quickly access recent test case results directly from the test case work item. We’ve introduced a new "Recent test results" section that provides direct visibility into the latest test results, eliminating the need to navigate through test plans or suites. 

With this update, you can review key test details at a glance and track recent test results more efficiently. For deeper insights, we’ve also added a direct link to view the complete result history of the test case, giving you quick access to all past runs in one place. These enhancements aim to streamline your workflow, making it easier to track progress and explore test history without interruptions.