---
title: Support Capturing of Actual Test Result
author: gloridelmorales
ms.author: glmorale
ms.date: 01/20/2026
ms.topic: whats-new
ms.service: azure-devops
ms.subservice: azure-devops-release-notes
description: Support Capturing of Actual Test Result
hide_comments: true
---

# Support Capturing of Actual Test Result

We are excited to announce the upcoming "Actual Result" field for Azure Test Plans! This new capability empowers manual testers to record detailed, step-by-step outcomes during test execution, supplementing the traditional pass/fail status with clear evidence of what happened during each steps’ execution.

The field supports both text and attachments, making it easy to capture screenshots, logs, and other artifacts directly within your test runs. Designed with compliance and quality in mind, the Actual Result field helps organizations meet documentation requirements. Teams can configure the field as required or optional, ensuring flexibility for diverse workflows. Stay tuned for more updates as we roll out this feature and continue to enhance your testing experience!
